#about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3.2rem 8px;
}
#dp{
    height: 25rem;
    width: 25rem;
    /* border: 1px solid; */
    border-radius: 50%;
    /* box-shadow: 3px 3px 10px #000; */
    margin-left: 1.5rem;
}
#desc{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0 1.5rem 0 1.5rem;
}
.tech{
    display: flex;
    align-items: center;
    background: antiquewhite;
    margin: 5px 8px;
    padding: 0 2px;
    border: 0.1px solid silver;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
}
.code{
    margin-left: 5px;
    /* font-weight: 600; */
}
@media(max-width:425px){
    #about{
        display: flex;
        flex-direction: column;
    }
    #dp{
        width: 18rem !important;
        margin-left: 1rem;
    }
    #desc{
        margin: 0 1rem 0 1rem;
    }
    .tech{
        margin: 5px;
    }
}