#intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10rem 2rem;
}
#info {
  text-align: left;
}
.underline {
  margin-bottom: 0.8rem;
  margin-left: 0;
  width: 14rem;
  height: 0.3rem;
  margin-right: auto;
  background: #2caeba;
}
#introlist{
    list-style-type: none;
    display: flex;
    margin-top: 1rem;
    padding: 0;
}
#lst{
    margin-right: 3rem;
}
#hi{
  line-height: 1;
  font-size: 1.8rem;
}
#name{
  line-height: 1;
  font-size: 3rem;
}
#designation{
  line-height: 1;
  font-size: 1.6rem;
  font-weight: bold;
}
#designation_desc{
  line-height: 1;
  font-size: 1.6rem;
}
@media (max-width:600px){
  #hi{
    line-height: 1;
    font-size: 1 rem;
  }
  #name{
    line-height: 1;
    font-size: 1.5rem;
  }
  #designation{
    line-height: 1;
    font-size: 1rem;
    font-weight: bold;
  } 
  #designation_desc{
    line-height: 1;
    font-size: 1rem;
  }
  #intro{
    flex-direction: column-reverse;
    margin: 5rem 1rem;
    align-items: flex-start;
  }
}