#projectinfo {
  display: flex;
  /* border: 1px solid; */
  margin: 5rem 1rem;
  /* border-radius: 10px; */
  /* box-shadow: 3px 3px 10px #000; */
  align-items: center;
  justify-content: space-around;
  padding: 5rem;
}
#projectHeader {
  font-size: 4rem;
}
#aboutProjects {
  margin: 0 4rem;
  text-align: left;
  font-weight: 700;
  font-size: 1.2rem;
}
.site-card-border-less-wrapper {
  padding: 30px;
}
@media (max-width: 768px) {
  #projectinfo {
    margin: 2.5rem 0.5rem;
    flex-direction: column;
    padding: 2.5rem;
  }
  #projectHeader {
    font-size: 3rem;
  }
  #aboutProjects {
    margin: 1rem;
    font-size: 1rem;
  }
}
